.lato-font {
  font-family: "Lato", sans-serif;
  font-style: normal;
}
* {
  image {
    max-width: 100%;
  }
}

/* shared styles */
.display-flex {
  display: flex;
}

.dp-text {
  color: #2727279b;
}

.btn-primary {
  background-color: #e55473;
  color: white;
  font-size: 20px;
  padding: 20px 40px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}

.btn-primary:focus {
  outline: none;
}

.btn-primary:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

/* banner section styles */
.banner-container {
  background-color: #fceef1;
  justify-content: center;
  align-items: center;
}

.banner-contents {
  max-width: 1440px;
  margin: 0 auto;
}

.banner-contents img {
  margin-top: 30px;
  margin-bottom: -4px;
}

.banner-title {
  font-size: 80px;
  font-weight: bolder;
  margin-bottom: 30px;
  margin-top: 80px;
}

.banner-description {
  width: 634px;
  font-size: 18px;
  margin-bottom: 30px;
}

.banner-info {
  margin-top: 100px;
}

.clr {
  color: #e55473;
}

/* Features Flowers styles */
.feature-title {
  font-size: 40px;
  font-weight: 800;
  margin-top: 170px;
  margin-bottom: 24px;
}

.feature-description {
  font-size: 18px;
  color: rgba(39, 39, 39, 0.6);
}

.feature-info {
  text-align: center;
}

.flowers-card {
  gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 48px;
}

/* flower card */
/* card-1 */
.card-1 {
  background-color: rgba(167, 33, 98, 0.15);
  width: 464px;
  height: 538px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}

.card-1 p {
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
  color: #272727;
}

.card-1 img {
  margin-top: 110px;
  margin-left: 70px;
}

/* card-2 */
.card-2 {
  background-color: rgba(5, 151, 160, 0.15);
  width: 464px;
  height: 538px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}

.card-2 p {
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
  color: #272727;
  margin-top: 80px;
}

.card-2 img {
  margin-top: 110px;
  margin-left: 70px;
}

/* card-3 */
.card-3 {
  background-color: rgba(71, 125, 17, 0.15);
  width: 464px;
  height: 538px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}

.card-3 p {
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
  color: #272727;
}

.card-3 img {
  margin-top: 67px;
  margin-left: 70px;
}

/* support styles */
.support-container {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 130px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  gap: 100px;
  padding: 80px 165px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.support-container .Support-info {
  color: rgba(39, 39, 39, 0.778);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
/* deal styles */
.deal-container {
  background-color: #fceef1;
  height: 620px;
  margin-top: 128px;
  margin-bottom: 128px;
  justify-content: center;
  align-items: center;
  gap: 185px;
}
.deal-left {
  text-align: center;
}
.deal-left h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
}
.deal-left p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
}
#off {
  color: #e55473;
}

/* instagram styles */
.insta-sec {
  text-align: center;
}
.insta-sec h3 {
  font-size: 40px;
  font-weight: 800;
  color: rgb(39, 39, 39);
  margin: 0px;
}
.insta-sec p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
}
.insta-img {
  display: flex;
  justify-content: center;
  gap: 24px;
  text-align: center;
  margin-bottom: 128px;
}
/* email styles */
.email {
  background-image: url(../Rectangle\ 9.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 449px;
  text-align: center;
  margin-bottom: 128px;
}
.email h2 {
  font-size: 40px;
  margin-bottom: 16px;
  font-weight: 800;
}
.email p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.6);
}
.email input {
  width: 700px;
  border: none;
  padding: 22px 23px;
  border-radius: 8px;
}
.latest-deals {
  display: flex;
  justify-content: center;
  align-items: center;
}
.email-content {
  margin-top: 128px;
}

/* Small devices responsive */

@media screen and (max-width: 576px) {
  .banner-contents,
  .flowers-card,
  .support-container,
  .deal-container,
  .insta-img {
    flex-direction: column;
  }
  .flowers-card {
    gap: 70px;
    align-items: center;
    width: 100%;
  }
  .feature-info {
    width: 100%;
  }

  .banner-description {
    width: 100%;
  }

  .banner-contents img {
    width: 100%;
  }

  .banner-title {
    font-size: 50px;
    margin-top: 10px;
  }
  .support-container {
    background: none;
  }
  .deal-container {
    background: none;
  }
  .email input {
    width: 50%;
  }
}

/* medium device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .banner-container {
    background-color: #fceef1;
    justify-content: center;
    align-items: center;
  }

  .btn-primary {
    margin-left: 350px;
  }

  .banner-description {
    margin-left: 130px;
    text-align: center;
  }

  .banner-title {
    font-size: 60px;
    margin-top: 10px;
    text-align: center;
  }

  .banner-contents {
    flex-direction: column;
    align-items: center;
  }
  .flowers-card {
    flex-direction: column;
    gap: 90px;
    align-items: center;
  }
  .feature-title {
    margin-top: 90px;
  }
}
